
    
    
        <div class="content" 
             fxLayout="row" 
             fxFlexFill style="float: left; height: 100%; margin: 0px; min-width: 60%; width: 60%;  flex-direction: 
             column; box-sizing:
             border-box; display: flex">
             
            <div fxFlex="33" class="sec1" fxFlex.xs="55">
                <b>Registered Office : </b><br>
                32 , R N Mukherjee Road
                <br>
                Kolkata
                <br>
                West Bengal
                <br>
                Pin : 700001
            </div>
            <div fxFlex="33" class="sec2" >
                <b>Bengaluru Office: </b>
                <br>
                47  Main, Jayanagar
                <br>
                Bangalore
                <br>
                Karnataka
                <br>
                Pin : 560011
            </div>
            <div fxFlex="33" class="sec3" fxFlex.xs="15">
              <b>  Pune Office :  </b> <br>
              Maitri Garden, Building Maitri Tulip, Pokhran Rd No 2, Thane (west)
              <br>
              Mumbai
              <br>
              Maharashtra
              <br>
              Pin : 400607
            </div>
            
        </div>
        
