<div class="contactusheader">
  Contact Us
</div>
<form class="example-form">
  <mat-form-field class="example-full-width">
   Name:  <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width">
   Email:  <input matInput >
  </mat-form-field>

  <mat-form-field class="example-full-width">
   Subject:  <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    Content :<textarea matInput></textarea>
  </mat-form-field>

  <button mat-button (click)="SaveQueryDetails()">Send</button>
</form>

