.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

.standard-footer
{
color: white;
background-color: gray;
height: 64px;
padding-top: 43px;
text-align: center;
}